<div class="page-body">
    	<div class="section-title">
                	 <div class="section-inner">
						<h1>Press</h1>
						<div class="seperator size-small"><span></span></div>
					</div></div> </div>
			<center><h2> <font color="d3d3d3"> We don't have any yet.. <i class=" fa fa-meh-o"> </i> </h2><br>
<p> <a href="mailto:staff@launcherr.com?Subject=Press" target="_top">
Wanna help us?</a></p></center>   </font>
					
             		
				
	</div>			
	    </div>
<div class="wrapper">
				<div class="section-title">
                	 <div class="section-inner">
						<h1>Press Kit</h1>
						<div class="seperator size-small"><span></span></div>
					</div></div> </div>
	    	<div id="portfolio-carousel" class="owl-carousel portfolio-entries">
          
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                 <%= image_tag("launcherr-black-logo.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Black Logo</strong></h5><br>
										<a href="#" class="scroll-to sr-button sr-button4 small-button">Download PDF</a>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
				
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                              <%= image_tag("launcherr-blue-logo.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Blue Logo</strong></h5><br>
										<a href="#" class="scroll-to sr-button sr-button4 small-button">Download PDF</a>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
					
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                               <%= image_tag("launcherr-white-logo.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>White Logo</strong></h5><br>
										<a href="#" class="scroll-to sr-button sr-button4 small-button">Download PDF</a>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
					
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                               <%= image_tag("launcherr-grey-logo.jpg",  :size => "64x64", :alt => "") %>
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Grey Logo</strong></h5><br>
										<a href="#" class="scroll-to sr-button sr-button4 small-button">Download PDF</a>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->  <div class="spacer spacer-big"></div><br><br>
               </div>
			</div>

					