<!-- START -->
	<div class="page-body">
    	<div class="spacer spacer-big"></div>
			<center><h2> Projects We <font color="#CC3300"><i class=" fa fa-heart-o"> </i></font> </h2></center>   
					
				
				
				<!-- Carousel -->		
				<div class="wrapper">
					
					<div class="seperator size-mini height-small"><span></span></div>
					
					<div class="spacer spacer-small"></div>
				</div> <!-- END .wrapper --> 
				
				<div id="portfolio-carousel" class="owl-carousel portfolio-entries">
          
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Branding</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
				
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
					
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Motion</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
					
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
					
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Branding</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
				
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
					
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Motion</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
					
					<div class="carousel-item">
                    	<div class="entry-thumb portfolio-thumb">
                        <div class="imgoverlay text-light">
                            <a href="#" class="load-content">
                                <img src="files/uploads/550x350.jpg" alt="SEO IMAGE NAME" />
                            		<div class="overlay"><span class="overlaycolor"></span><div class="overlayinfo">
										<h5 class="portfolio-name"><strong>Project Name</strong></h5>
										<h6>Web</h6>
									</div></div>
                            </a>
                        </div>
                   	</div>
                	</div> <!-- END .carousel-item -->
		
				</div> <!-- END #portfolio-carousel -->
				
				<div class="spacer spacer-big"></div>
				
			</div> <!-- END .section-inner -->   
     	</section>
       	<!-- END -->
	    
      	<!-- FOOTER -->  