<!-- PAGEBODY -->
	<div class="page-body">
    
		<!-- PORTFOLIO LAYOUT SECTION -->
		<section id="portfolio-layout">
       		

 <!-- What's Cool -->		
				<div class="wrapper">
				<div class="section-title">
                	 <div class="section-inner">
                	<h1>Protecting Your Idea <i class=" fa fa-lightbulb-o"> </i></h1>
              		<div class="seperator size-small"><span></span></div>
              		<h4 class="subtitle">We understand your love for your idea, we really do. Every person who works at launcherr are people with ideas. 
</h4>
              		<p>&nbsp;</p>
              	</div>
					
                    <span></span></div>
					
					<div class="spacer spacer-small"></div>
					<p>Sometimes you need to let go to succeed. One of our good friends told us this once:  <br><br>
At any given time, there are 50 people with the same idea as you. 5 people are working on it, and one person will get there first. You need to be that person. <br>
When you launch your idea on Launcherr the goal is to move fast, build your team, build your product and get to market as fast as possible.<br>

Everyone who has been in the game for a while knows that as you go, your idea will change with time. Your idea won’t be the same idea in 3 years time as what it is today.<br>

However, as we say this, there is still something in your mind that worries about sharing your idea. We get that, so we’ve created a function to help you protect your idea on Launcherr. <br><br>

For <b>$49</b>, users will be forced to sign an NDA when they view your idea. Users who aren’t logged in won’t be able to view it, they’ll need to register and sign the NDA if they wan’t to view your idea no matter what category it is in. <br>

If you feel your idea has been stolen, bring us the information of the people who started a similar idea and we will confirm when and where that person viewed your project and help you however we can.   <br><br>         <br><br>
					
					</div>     

