<!-- PAGELOADER -->
<div id="page-loader">
	<div class="page-loader-inner">
    	<div class="loader-logo"><img src="files/uploads/xone-logo.png" alt="Logo"/></div>
		<div class="loader-icon"><span class="spinner"></span><span></span></div>
	</div>
</div>

<div class="page-body">
 	 <center>
    	<h2> Pricing </h2>
    	<h4> For business projects </h4>
    	<p>Why Choose Equity?</p>
   	  </center>
		<!-- Small-->
		<section id="elements">
       		<div class="section-inner wrapper">
       		  <div class="column-section clearfix">
       		    <div class="column one-third">
               	  <div class="pricing-table align-center">
							<h5 class="price-name"><strong>Small</strong></h5>
					<div class="price">
                         		<span class="price-amount">$24</span>  
                         		<span class="price-time"> + 3% Equity <br>
                         		 Or $90</span>  
                        	</div>
							<ul class="price-options list-nostyle">
								<li><strong>Project</strong> Upload</li>
								<li>Startup <strong>Help</strong> Kit<br>
								  <br>
								  <br>
								  <br>
								  <br><br><br><br><br><br>
								</li>
								<li></li>
							</ul>
							<div class="price-button">
								<a href="#" class="sr-button sr-button6 medium-button">Sign Up</a>
							</div>
				  </div>                                
           	  </div> 
       		  <p>
       		  <!-- Medium-->
       		  <div class="column one-third">
                  	<div class="pricing-table align-center">
							<h5 class="price-name"><strong>Large</strong></h5>
							<div class="price">
                         		<span class="price-amount">$80</span>  
                         		<span class="price-time"> + 3% Equity<br>
                         		 Or $240 </span>  
                        	</div>
							<ul class="price-options list-nostyle">
								<li><strong>Project</strong> Upload</li>
								<li>Non Disclosure Agreement.</li>
								<li>Startup <strong>Help</strong> Kit</li><br>
								  <br><br><br><br><br><br>
								<li></li>
							</ul>
							<div class="price-button">
								<a href="#" class="sr-button sr-button6 medium-button">Sign Up</a>
							</div>
			    </div>    </div>                            
       		  <p>

       		  <!-- Big -->
       		    
   		      </p>
              	<div class="column one-third last-col">
                  	<div class="pricing-table align-center">
							<h5 class="price-name"><strong>Big</strong></h5>
					  <div class="price">
                         		<span class="price-amount">$120</span>  
                         		<span class="price-time">+ 3% Equity<br>
                         		  or $500<br>
                   		</span>  
                        	</div>
							<ul class="price-options list-nostyle">
								<li><strong>Project</strong> Upload</li>
								<li>Startup <strong>Help</strong> Kit</li>
								<li>Non Disclosure Agreement.</li>
								<li><strong>Promoted</strong> to Launcherr Database </li>
								<li>Incorporate Company as LLC in <strong>Delaware</strong></li>
								<li>Connect Project to <strong>Venture Capitalists</strong></li>
								<li>Access to FoundersCard</li>
								<li>Access to Networking Events</li>
							</ul>
							<div class="price-button">
								<a href="#" class="sr-button sr-button6 medium-button">Sign Up</a>
							</div>
					  </div>                                    
           			</div>  <!-- END Big-->     
           		</div>     <br><br>
			
   	  </div>
